* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* To ensure padding doesn't affect total width/height */
}


body {
    font-family: Arial, sans-serif;
    margin: 0; /* Ensures there's no margin around the body */
    background-color: #f4f4f4;
    background-image: linear-gradient(45deg, #6b8dd6, #8e37d7);
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Use min-height instead of height */
}

header {
    flex-shrink: 0; /* Prevent shrinking */
    width: 100%; /* Ensures it fills out horizontally */
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

main {
    flex: 1; /* Ensures that main content occupies all available space */
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    flex-shrink: 0; /* Prevent shrinking */
    width: 100%; /* Ensures it fills out horizontally */
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

canvas {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
}

#chartdiv {
    width: 100%;
    height: 400px;
}

.vibrant-text {
    color: #FFC107; /* Vibrant gold color */
}

.vibrant-footer {
    color: #17A2B8; /* Vibrant teal color */
}
